/* Change background color */

/* Change text color and font */
body {
    font-family: Arial;
    color:#444;
    font-size: 18px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

/* Make links a different color */
a {
    color: #c7a8ff;
}

.d3_extra_big {
    width: 100%;
    max-width: none;
    text-align: center;
}

/* Add space around everything */
.content {
    margin:40px auto;
    max-width: 650px;
    line-height:1.2;
    padding: 0px;
}